body {
  box-sizing: border-box;
}

.body {
  padding-left: 5rem;
  padding-right: 5rem;
  height: 100svh;
  display: flex;
  place-items: center;
  gap: 2rem;
  transition: all .5s ease;
}

@media screen and (max-width: 768px) {
  .body {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .semi-circle {
    width: 300px !important;
    height: 150px !important;
    border-radius: 150px 150px 0 0 !important;
  }
  .dial {
    height: 150px !important;
  }
  .line {
    height: 150px !important;
  }
}

.desc {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.dial {
  width: 4px;
  background-color: black;
  height: 190px;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform-origin: bottom;
  bottom: 3rem;
  transition: transform .5s ease, rotate .3s ease;
}

.line {
  width: 2px;
  background-color: #ccc;
  height: 195px;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform-origin: bottom;
  z-index: 5;
  bottom: 3rem;
  transition: transform .5s ease, rotate .3s ease;
}

.semi-circle {
  width: 400px;
  height: 200px;
  border-radius: 200px 200px 0 0;
  background-color: #dfdfdf;
  border: 1px solid black;
  position: relative;
  transition: background-color .5s ease;
}