.body {
  padding: 5rem;
  height: calc(100vh - 10rem);
  display: flex;
  place-items: center;
  gap: 2rem;
  transition: all .5s ease;
}

.left, .right {
  width: 50%;
}

.desc {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.not {
  position: absolute;
  left: 0rem;
  transform: translateY(15rem);
  z-index: 10;
}

.very {
  position: absolute;
  right: 0rem;
  transform: translateY(15rem);
  z-index: 10;
}

.dial {
  width: 4px;
  background-color: black;
  height: 190px;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) translateY(3rem);
  transition: transform .5s ease, rotate .3s ease;
}

.line {
  width: 2px;
  background-color: #ccc;
  height: 195px;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform-origin: bottom;
  z-index: 5;
  transition: transform .5s ease, rotate .3s ease;
}

.semi-circle {
  width: 400px;
  height: 200px;
  border-radius: 200px 200px 0 0;
  border-bottom: none;
  background-color: #dfdfdf;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(3rem);
  transition: background-color .5s ease;
}

.dial-c {
  position: relative;
  transform: translateY(-5rem);
}
